<%= simple_form_for @user, :defaults => {:label => false}, :html => { :class => "animated fadeIn", :id => "frm_register"} do |f| %>

  <%= f.input :email %>
  <%= f.input :firstname, :wrapper => :webarch_half %>
  <%= f.input :lastname, :wrapper => :webarch_half %>
  <%= f.input :password, :wrapper => :webarch_half %>
  <%= f.input :password_confirmation, :wrapper => :webarch_half %>
  <div class="col-md-12 col-sm-12">
    <%= f.button :magic_submit %>
  </div>

<% end %>

