<h2>Registrarse</h2>

<%= simple_form_for @user, :defaults => {:label => false} do |f| %>


<%= f.input :email %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.button :submit %>

<% end %>
